.description {
  display: flex;
  width: 100%;
  flex-wrap: wrap;  
  justify-content: space-between;
  padding: 185px 80px 0px 80px;  
  /* border: 1px solid green; */
}

.services__pretitle {
  font-family: var(--inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: var(--orange);
  margin: 0;
}

.services__title {
  font-family: var(--inter);
  font-weight: 700;
  font-size: 58px;
  line-height: 90px;
  color: var(--blue);
  margin: 0;  
}

.services__subtitle {
  font-family: var(--inter);  
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: justify;
  color: var(--blue);
  width: 438px;
  margin: 0;
  /* border: 1px solid var(--orange); */
}

.services__description {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 18px;
  /* line-height: 30px; */
  text-align: justify;
  color: var(--blue);
  opacity: 54%;
  width: 438px;
}

.services__button {
  text-align: center;
}

.services__button-text {
  padding: 15px 35px;
  margin-top: 65px;
  background: var(--dark-orange);
  border: var(--dark-orange);
  border-radius: 15px;
  text-align: center;
  font-family: var(--inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  color: var(--white);
  cursor: pointer;
}

.services__options {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: var(--blue);
  opacity: 54%;
  margin: 5px 0px 0px 0px;
}

.services__image {
   
}

.main-image {  
  width: 630px;
  height: 490px;
  margin: -90px 0px -15px 0px;  
}

@media (max-width: 575.98px) {
	
}

@media (min-width: 576px) and (max-width: 767.98px) {

}



@media (min-width: 768px) and (max-width: 991.98px) {  
  .description {
    padding: 120px 40px 0px 40px;
    /* text-align: center; */
  }

  .services__pretitle {    
    font-size: 11px;    
  }  
  
  .services__title {    
    font-size: 35px;
  }

  .services__subtitle {    
    font-size: 15px;
    line-height: 20px;    
    width: 330px;
  }
  
  .services__description {    
    font-size: 15px;
    line-height: 20px;    
    width: 330px;
  } 
  
  .services__button-text {
    padding: 15px 25px;
    margin-top: 35px;    
    font-size: 18px;
    line-height: 23px;
  }
  
  .services__options {    
    font-size: 10px;
    line-height: 19px;        
    margin: 5px 0px 0px 0px;
  }
  
  .main-image {  
    width: 355px;
    height: 350px;
    margin: 20px 0px -15px 0px;    
  } 
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .description {
    padding: 150px 40px 0px 40px;
  }

  .services__pretitle {    
    font-size: 12px;    
  }  
  
  .services__title {    
    font-size: 46px;
  }

  .services__subtitle {    
    font-size: 17px;
    width: 415px;
  }

  .services__description {
    width: 415px;
  }
  
  .main-image {  
    width: 485px;
    height: 470px;
    margin: -70px 0px -15px 0px;    
  } 
}

@media (min-width: 1200px) and (max-width: 1400px) {

  .services__pretitle {    
    font-size: 14px;    
  }  
  
  .services__title {    
    font-size: 50px;
  }

  .services__subtitle {    
    font-size: 18px; 
  }
  
  .main-image {  
    width: 570px;
    height: 470px;
    margin: -70px 0px -15px 0px;   
  } 
}